/* Links */
$mainlinkcolor = #1E56C9
$linkcolor = #969696
$linkhovercolor = #1E56C9

/* Buttons */
$buttonbackground = #F3F3F3
$buttonborder = #E5E5E5
$buttontext = #818080

/* Title */
$titlecolor = #1E56C9
$titleborder = #E5E5E5
