/* Common */
$highlight-color = #FF1654

/* Links */
$mainlinkcolor = #1E56C9
$linkcolor = #969696
$linkhovercolor = #1E56C9

/* Buttons */
$buttonbackground = #F3F3F3
$buttonborder = #E5E5E5
$buttontext = #818080

/* Title */
$titlecolor = #1E56C9
$titleborder = #E5E5E5
$subtitle = #818080

/* Product */
$product-base-color = #4D4D4D
$product-installments = #969696
$product-coupon-border = #E5E5E5
$product-border-hover = #3DDEF6

/* Vitrine */
$vitrine-content-highlight-background = #E387EE
$vitrine-content-text = #FFFFFF