/* Common */
$highlight-color = #ff1654

/* Links */
$mainlinkcolor = #1E56C9
$linkcolor = #969696
$linkhovercolor = #1E56C9

/* Buttons */
$buttonbackground = #F3F3F3
$buttonborder = #E5E5E5
$buttontext = #818080

/* Title */
$titlecolor = #1E56C9
$titleborder = #E5E5E5

/* Product */
$product-base-color = #4d4d4d
$product-installments = #969696
$product-coupon-border = #e5e5e5
$product-border-hover = #3ddef6