/*
 * Vendor Prefixes Mixin - Carrefour User Interface
 * Add here any css properties that need to use any vendor prefix
 */

transform(args)
	-webkit-transform args
	-o-transform args
	-ms-transform args
	transform args

transition(args)
	-webkit-transition args
	-o-transition args
	-ms-transition args
	transition args
	
border-radius(args)
	-webkit-border-radius args
	-o-border-radius args
	-ms-border-radius args
	border-radius args