@import "../../settings/*"

.crui-title
  background #fff
  color $titlecolor
  font-weight 300
  font-size 32px
  line-height 0.5
  text-align center
  position relative
  z-index 2

  span
    background #FFFFFF
    color currentColor
    font-size inherit
    position relative
    padding 0 20px
    line-height 40px

  &:before
    content ""
    background $titleborder
    position absolute
    height 1px
    top 50%
    left 0
    width 100%
    z-index 0
