@import "../settings/*"
@import "../tools/*"

.crui-button
  border 1px solid $buttonborder
  background $buttonbackground
  color $buttontext
  cursor pointer
  display inline-block
  text-transform uppercase
  text-align center
  font-size 12.6px
  padding 11px 0 10px
  width 100%
  transition(all 0.2s ease-in)

  &:hover
    background darken($buttonbackground, 3%)
    border-color darken($buttonborder, 6%)

  &:active
    background lighten($buttonbackground, 2%)
    border-color darken($buttonborder, 5%)
