@import "../settings/*"
@import "../tools/*"

.crui-category
	transition(border linear 0.2s)
	border 1px solid $titleborder
	display inline-block
	position relative
	text-align center
	padding 0 0 10px
	width 202px
	
	&:hover
		border-color $highlight-color
		
		.crui-category--price
			border-color $highlight-color
	
	@media all and (max-width: 428px)
		width 170px
	
.crui-category--image
	width 100%
	max-width 190px

.crui-category--price
	transition(border linear 0.2s)
	border 1px solid $titleborder
	background #FFFFFF
	color $highlight-color
	font-size 13px
	position absolute
	padding 10px 0
	left 50%
	bottom -22px
	margin-left -(171/2)px
	width 171px
	
	@media all and (max-width: 428px)
		width 150px
		margin-left -75px