@import "../settings/*"

.crui-vitrine
	border-bottom 1px solid $titleborder
	display inline-block
	padding-bottom 40px
	width 100%

.crui-carousel__container
	margin 0 auto
	width 78%
	
	.flickity-viewport
		margin 0 auto

.carousel-cell
	width 222px
 
.flickity-prev-next-button
	&.previous
		left -10%;
	
	&.next
		right -10%;

.flickity-page-dots .dot
	background $linkcolor
	opacity 1
	width 6px
	height 6px
	
	&.dot.is-selected
		background $mainlinkcolor